.cover{
    background-color: #F2F4F7;
    padding: 20px !important;
    z-index: 0;
    height: 100vh;
    // position: sticky;
    margin-left: 250px;
    top: 0;
    transition: 850ms;
    // &:active{
    //     margin-left: 0px;  
    //     transition: 550ms;
    // }
 
  .cards{
    .cover__card{
      .card1{
        background-color: white;
        box-shadow: 2px 2px 2px 0px #e6e3e3;
        .words{
          padding: 10px;
          .text__white{
            color: #354558;
            font-family: 'Poppins', sans-serif;
          }
          h6{
            margin-top: 1.5rem;
            width: 110%;
            font-size: 14px;
          }
          h5{
            margin-top: 1rem;
          }
          .progress{
            margin-top: 3rem !important;
            height: 5px !important;
            width: 150% !important;
          }
        }
        .img{
          text-align: center;
          align-items: center;
          i{
            font-size: 2.5rem !important; 
            padding: 13px;
          }
          .cube{ 
            &:hover{
              color: #2979ff !important;  
            }
          }
        }
      }
    }
  
  }
}  
